// --------------------------------------------------
// .mugx 的核心样式
// --------------------------------------------------

@import "_mugx.settings.scss";

// --------------------------------------------------
// reset
// --------------------------------------------------

.mugx,
.mugx-item,
.mugx-sub {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// --------------------------------------------------
// 主菜单
// --------------------------------------------------

.mugx {
  position: relative;
  display: block;

  ul,ol,li {
    list-style: none;
  }
}

// --------------------------------------------------
// 主菜单项
// --------------------------------------------------
// 注意事项:
// 1 .mugx-item 不准设置任何position样式, 必须保持position为空

// 水平样式的主菜单条目 .mugx-item (默认)
// 如: 传统网站的主菜单样式
.mugx-item {
  display: inline-block;
  z-index: $mugx-z-index;
}

// 垂直样式的主菜单条目 .mugx.verticle > .mugx-item
// 如: 商城网站的纵向产品菜单样式
.verticle > .mugx-item {
  display: block !important;
}

// --------------------------------------------------
// 二级菜单
// --------------------------------------------------

.mugx-sub {
  position: absolute;
  z-index: ($mugx-z-index + 1); // 二级菜单的z-index要比主菜单的高一点
  display: none;

  &.active {
    display: block;
  }
}
