$nicemenu-list-zIndex: 11;

.nicemenu {
  position: relative;
  display: block;

  // reset
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

.nicemenu-item {
  display: inline-block;
  z-index: $nicemenu-list-zIndex;
}

.verticle > .nicemenu-item {
  display: block !important;
}

.nicemenu-sub {
  position: absolute;
  z-index: ($nicemenu-list-zIndex + 1);
  display: none;

  &.active {
    display: block;
  }
}
