// 活动菜单项的背景色
$maaa-active-bgcolor: #79c2b1;

.maaa {
  // 必填项
  width: 100%;

  background-color:  #314349;
}

.maaa-item {
  background-color:  #314349;
  padding-left: 16px;
  padding-right: 16px;

  h6 {
    color: #f0f0f0;
    font-size: 1em;
    line-height: 3em;
  }

  p {
    color: #a0a0a0;
    font-size: 0.9em;
    line-height: 2em;
  }

  a {
    color: #f0f0f0;
    text-decoration: none;

    &:hover {
      color: #333;
    }
  }

  &.active {
    background-color: $maaa-active-bgcolor;
  }
}

.maaa-sub {
  background-color: $maaa-active-bgcolor;
  padding: 16px;
  overflow: hidden;
  color: #000;
  width: 750px;
  box-shadow: 5px 5px 5px #888888;

  h5 {
    font-size: 1.2em;
  }

  & h6 {
    color: #000 !important;
    font-size: 18px;
  }

  & p {
    color: #333;
  }
}

.w-3-1 {
  position: relative;
  float: left;
  width: 30%;
  margin-right: 3%;
}
